<?xml version="1.0" encoding="utf-8"?>
<!-- __BEGIN_LICENSE__ -->
<!-- Copyright (C) 2008-2010 United States Government as represented by -->
<!-- the Administrator of the National Aeronautics and Space Administration. -->
<!-- All Rights Reserved. -->
<!-- __END_LICENSE__ -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="gov.nasa.arc.geocam.geocam"
      android:versionCode="1204"
      android:versionName="1.0.14">

    <uses-sdk 
        android:minSdkVersion="4"
        android:targetSdkVersion="8" />
	
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
	
    <uses-permission android:name="android.permission.INTERNET" />  
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	
    <application android:icon="@drawable/camera_64x64" android:label="@string/app_name" android:debuggable="true">
     	<service android:name="GeoCamService"/>
     
        <activity android:name=".AuthorizeUserActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GeoCamMobile"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light" />

	<!-- There is a bug in the camera preview API, it only works in landscape orientation -->
	<activity android:name="CameraActivity" 
		  android:label="@string/camera_name" 
		  android:configChanges="keyboardHidden"
		  android:screenOrientation="landscape" />

	<activity android:name="CameraPreviewActivity" 
		  android:label="@string/camera_preview_name" 
		  android:configChanges="keyboardHidden"
		  android:screenOrientation="landscape" />

        <activity android:name="UploadPhotosActivity"
        	  android:label="@string/upload_photos_name"
        	  android:configChanges="keyboardHidden|orientation"
        	  android:screenOrientation="portrait"
        	  android:theme="@android:style/Theme.Light" />

        <activity android:name="SettingsActivity"
        	  android:label="@string/settings_name" 
        	  android:theme="@android:style/Theme.Light" />
	    
	<activity android:name="FireIconActivity"
	    	  android:label="@string/fire_icon_name"
	    	  android:theme="@android:style/Theme.Black"
	    	  android:screenOrientation="landscape" />
	    	
	<activity android:name="TrackMapActivity"
	    	  android:label="@string/track_map_name" />
	    	
	<activity android:name="TrackSaveActivity"
	    	  android:label="@string/track_save_name" />

	<uses-library android:name="com.google.android.maps" />
    </application>
</manifest>
